- $cat = is_single() ? get_the_category()[0]->slug : slug(get_the_ID())
- if($cat == 'projects')
	.post(class="#{$cat}")
		= render_partial('posts/project_post')
- else
	.post.base-post(class="#{$cat}")
		.page-section.info-section
			.vh-wrapper
				.section-wrapper
					.content= wpautop(get_the_content())
