//Home Styles

.home-page, .about-page {

	.grid-section {margin: 0;}

	.tile {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin: 0;
		overflow: hidden;
		position: relative;

		.tile-image {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
			padding-top: 25%;
			margin: 0 auto 20px;
		}

		.project-title {
			font-family: HelveticaLtCn;
			font-size: 36px;
			color: black;
			text-align: center;
			padding: 0 10px;
		}

		.pre-tile-content, .project-tile-content {
			height: auto;
			top: 50%;
			@include transform(translateY(-50%));
			@include transition(opacity .28s ease-in);
		}

		.pre-tile-content {opacity: 1;}

		.highlights {
			font-size: 18px;
			line-height: 22px;
			font-family: HelveticaLt;
			color: rgba(black, 0.5);
			margin-top: 5%;
			text-align: center;
		}
		

		.project-tile-content {
			position: absolute;
			// height: 100%;
			width: 100%;
			color: white;
			font-size: 22px;
			background-color: transparent;
			text-align: center;
			// top: 0;
			// @include transition(opacity .28s cubic-bezier(0.470, 0.000, 0.745, 0.715)-out);
			opacity: 0;

			.project-title {color: white;}
			.highlights {color: rgba(white, 0.5);}
		}

	}

	.about-tile {
		color: white;
		background-color: #4A1942;
		position: relative;
		@include box-shadow(0 1px 0 0 #4A1942);

		&:before {
			content: "";
			display: block;
			padding-top: 99.99%;
		}

		.content {
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
			width: 80%;
			left: 10%;
		}
		// padding: 15% 50px 85% 50px;
		// height: 0;

		h3 {
			font-size: 30px; 
			letter-spacing: 1px;
			line-height: 35px;
			font-family: Raleway;
		}
	}

	.project-tile {
		// height: 200px;
		padding-top: 25%;
		&:nth-child(3), &:nth-child(4), &:nth-child(7), &:nth-child(9) {
			background-color: rgb(245,245,245);
		}

	}

	&.home-page .project-tile:nth-child(n) {
		// background-color: transparent;
		@include transition(background-color .28s cubic-bezier(0.470, 0.000, 0.745, 0.715));

		&:hover {
			background-color: #D33E43 !important;
			.pre-tile-content {opacity: 0;}
			.project-tile-content {opacity: 1;}
		}
	}

	.full-about {
		.about-tile {
			@include box-shadow(none);
			width: 100%;
			&:before {padding-top: 50%;}
			&.contact-form:before {padding-top: 100%;}
		}

		.project-tile {
			&:nth-child(n) {background: transparent;}
			&:nth-child(3), &:nth-child(5), &:nth-child(6), &:nth-child(8) {
				background-color: rgb(245,245,245);
			}
		}

		&.big-tiles {
			.project-tile {
				width: 50%;
				padding-top: 50%;

				&:nth-child(n) {background: transparent;}
				&:nth-child(3), &:nth-child(4), &:nth-child(7), &:nth-child(8) {
					background-color: rgb(245,245,245);
				}
			}
		}
	}

}

@media #{media-width-res(1100)} {
	h1 {font-size: 35px;}
	.home-page .about-tile {
		h3 {font-size: 27px; line-height: 33px;}		
	}
}

@media #{media-width-res(900)} {
	h1 {font-size: 30px;}
	.home-page .about-tile {	
		h3 {font-size: 23px; line-height: 29px;}
	}
	
	.home-page .tile {
		.project-title {font-size: 30px;}
		.highlights {font-size: 15px; line-height: 20px;}	
	}
	
}

@media #{media-width-res(800)} {
	.home-page .about-tile, .full-about .about-tile, .full-about.big-tiles .about-tile {
		width: 100%;
		&:before {padding-top: 50%;}
	}
	.home-page .project-tile {
		// margin: 0 5px 0;
		width: 50%;
		padding-top: 50%;
		&:nth-child(n) {background: transparent;}
		&:nth-child(3), &:nth-child(4), &:nth-child(7), &:nth-child(8) {
			background-color: rgb(245,245,245);
		}

		.project-tile-content {

		}

	}
}

@media #{media-width-res(600)} {
	h1 {font-size: 24px;}
	.home-page .about-tile {
		
		h3 {font-size: 18px; line-height: 22px;}
	}
}

@media #{media-width-res(550)} {
	// h1 {font-size: 20px; margin-bottom: 5px;}
	.home-page .about-tile {
		&:before {padding-top: 100% !important;}
		// h3 {font-size: 14px;}
	}
	.home-page .project-tile {
		width: 100% !important;
		padding-top: 100% !important;

		&:nth-child(n) {background-color: transparent;}
		&:nth-child(odd) {background-color: rgb(245,245,245);}
	}
}