@import "compass";
@include global-reset;
@import "fonts";
@import "core";
@import "base";
@import "sliders";
@import "site_header";

.page-wrapper {
  margin: 0 0 70px 256px;
  font-family: HelveticaLt, "Helvetica", "Arial", sans-serif;
  opacity: 0;
  
}

@import "home";
@import "project";
@import "about";
@import "footer";
@import "browsers";
@import "mobile";